.HowGyso_wrapper {
    width: 100%;
    font-family: 'Bellefair',
        serif;
    padding-top: 80px;
    padding-bottom: 80px;
    // background-image: url(../assets/boximg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;

    .HowGyso_header {
        text-align: center;
        font-size: 22px;

        h1{
            font-weight: 900;
            margin-bottom: 30px;
        }

        p{
            margin-bottom: 10px;
        }
    }

    .HowGyso_inner_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .Howgyso_inner{
            width: 80%;

            @media screen and (min-width:600px) and (max-width:900px){
                width: 90%;
                margin-top: 36px;
            }

            @media screen and (min-width:200px) and (max-width:600px){
                width: 96%;
            }

            .inner_card1{
                transform: rotate(25deg);

                @media screen and (max-width:767px){
                    transform: rotate(0deg);
                }
            }

            .inner_card2{
                transform: rotate(0deg);
                margin-top: 90px;

                @media screen and (max-width:767px){
                    transform: rotate(0deg);
                    margin-top: 0px;
                }
            }

            .inner_card3{
                transform: rotate(-25deg);

                @media screen and (max-width:767px){
                    transform: rotate(0deg);
                }
            }

            .card{
                padding: 20px;
                font-size: 22px;
                box-shadow: 3px 1px 9px -1px rgb(0 0 0 / 60%);
                margin-bottom: 30px;
                text-align: center;
                height: 150px;
                border-radius: 20px;
            }
        }
    }
}