.whole_wrapper{
    h1{
        font-weight: 900;
        // font-size: ;
        text-align: center;
        font-family: 'Poppins', sans-serif;;
    }
}
.whygyso_wrapper{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .whygyso_inner_wrapper{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:700px) and (max-width:900px){
            width: 90%;
        }

        @media screen and (min-width:200px) and (max-width:700px){
            width: 96%;
        }

        .row{
            // margin-bottom: 30px;
            // margin-top: 30px;

            .col-md-12{
                width: 98.5%;
            }

            .inner_card{
                margin-top: 30px;
                border-radius: 20px;
                background-color: white;
                border: none;
                box-shadow: 3px 1px 9px -1px rgb(0 0 0 / 60%);
                padding: 20px;
                font-family: 'Poppins', sans-serif;;
                font-size: 23px;

                @media screen and (min-width:600px) and (max-width:900px){
                    font-size: 19px;
                }

                @media screen and (min-width:200px) and (max-width:600px){
                    font-size: 18px;
                }
                
                .card-body{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}